<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank your for your referral, <%= @user.name %></h1>
    <p>
      We have added one extra project to your limit, giving you a total of <%= @user.project_limit %>!<br>
    </p>
    <p>
      Be sure to refer <a href='http://getpodium.com'>getpodium.com</a> to more of your friends. You can earn up to 10 projects.
    </p>
    <p>Thanks for your continued support.</p><br>
    <p>Podium Team</p>
  </body>
</html>