<div class='row'>
	<div class='large-12 columns'>
		<div class="small-6 large-centered columns">
			<div class="large-12 columns ">
				<h2>Forgot your password?</h2>
			</div>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="large-12 columns ">
			  	<%= f.email_field :email, :autofocus => true, :placeholder => "E-mail" %>
				</div>

			  <div class="large-12 columns ">
			  	<%= f.submit "RESET", class: "button prefix" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
