<h1>About</h1>
<p> 
Omrails is a presentation sharing and creation tool for the modern age.
It allows people to create beautiful presentations in the programs they love to work in (powerpoint, keynote, photoshop, after effects) It helps extend those programs by allowing you to do the things you want creatively, without limitations.
So when you want to use a really cool animation you created in after effects, or embed something from youtube, Omrails allows you to do that and a lot more.
You can view your presentation on your computer or on the web.
And easily share links with other people

</p>