<div class='row'>
	<div class='large-12 columns'>
		<div class="small-8 large-centered columns">
			<div class="panel">
				<div class="home-bg">
		      <header>
		        <h1>Welcome to Podium</h1>
		        <h4>a collaborative presentation tool for the web.</h4> 
		      </header> 
						<p>
							<%= link_to "SIGN UP", new_user_registration_path, class: "large button" %>
						</p>
				</div>
			</div>
		</div>
	</div>
</div>





