<div class="jumbotron">
	<div class="row">
		<article class="col-sm-6 col-xs-12 col-sm-push-6 animated fadeInRight">
			<!-- <img src="assets/crossscreen.png"> -->
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
						<div class="hero-message">
							<h2>A SIMPLER WAY TO SHARE YOUR PRESENTATIONS</h2>
							<div class="btn-group btn-group-justified">
  							<div class="btn-group">
									<a href="#" class="upload btn btn-default">UPLOAD TO TRY</a>
								</div>
								<div class="btn-group">
									<%= link_to "SIGN UP", new_user_registration_path, class: "sign-up btn btn-success" %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>	
	</br>
		<figure class="col-sm-6 col-xs-12 col-sm-pull-6 animated fadeInLeft">
	    <div class="container">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-1">
				    <div class="browser" id="browser-small">
				    	<div class="browser-bar">
				    		<div class="browser-button"></div>
				    		<div class="browser-button"></div>
				    		<div class="browser-button"></div>
				    	</div>
				    	<div class="browser-content">
				    	<!-- 	<a href="#"><img class="img-responsive" src="https://m1.behance.net/rendition/modules/77583303/hd/bde9f10ae609e1400180c98a1293518b.jpg" style="
    width: 672px;
"></img></a> -->
								<a href="#" class="modal-trigger" data-url="<%= project_url(71) %>" data-target="#live-preview-modal"><img class="img-responsive" src="<%= Project.find(71).slides.order("position").first.filepicker_url %>" ></img></a>

								<div class="button-centered">
									<div class="live-preview btn btn-danger modal-trigger" data-url="<%= project_url(71) %>" data-target="#live-preview-modal">LIVE PREVIEW</div>
								</div>
				      </div>	
				    </div>
				  </div>
				</div>
	    </div>
	  </figure>
	</div>
</div>


	<div class='row steps'>
		<div class="col-sm-4">
			<div class="col-sm-12">
				<i class="icon icon-basic-webpage"></i>
				<h4>WORKS IN BROWSER</h4>
				<p>Podium is 100% browser based, that means no more large email attachments clogging your inbox. Just click a link and view your presentation.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-12">
				<i class="icon2 icon2-music-play-button"></i>
				<h4>EMBEDDED VIDEOS</h4>
				<p class="step">Enhance your presentations with the power of video. Add videos from YouTube and Vimeo into your presentation by just pasting a link. </p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-12">
				<i class="icon2 icon2-music-shuffle-button"></i>
				<h4>BEAUTIFUL TRANSITIONS</h4>
				<p>Choose from 30+ slide transitions to present your slides the way they were mean't to be presented, in style. </p>
			</div>
		</div>
	</div>



	<div class='row'>
		<div class="col-sm-4"></div> 
		<div class="col-sm-4"><i class="center-block carrot entypo-down-open"></i></div>
		<div class="col-sm-4"></div>
		<div class="container">
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div id="cbp-so-scroller" class="cbp-so-scroller">
					<section class="cbp-so-section">
						<article class="cbp-so-side cbp-so-side-left">
							<h2>UPLOAD</h2>
							<p>
								Create presentations using the tools you know best, then use Podium to share them. Simply upload a PPT, KEY, PDF, JPG, PNG, GIF, MP4 or embed a video from Youtube or Vimeo. We do some magic, and tada! You have yourself a slide presentation you can organize, choose transitions for and share with your friends.</p>
							</article>
							<figure class="cbp-so-side cbp-so-side-right">
								<img class="img-responsive" src="assets/upload.png" alt="img01">
							</figure>
						</section>
						<div class="divider"></div>
						<div class="col-sm-4"></div> 
						<div class="col-sm-4"><i class="center-block carrot entypo-down-open"></i></div>
						<div class="col-sm-4"></div>
						<section class="cbp-so-section">
							<article class="cbp-so-side cbp-so-side-left">
								<h2>SHARE</h2>
								<p>	Easily share your presentation with clients, friends and colleagues by sending them a link or using social media. Podium gives you the flexibility of making your presentations public or private and you can embed Podium presentations into your blog or website.</p>
							</article>
							<figure class="cbp-so-side cbp-so-side-right">
								<img class="img-responsive" src="assets/share.png" alt="img02">
							</figure>
						</section>
						<div class="divider"></div>
						<div class="col-sm-4"></div> 
						<div class="col-sm-4"><i class="center-block carrot entypo-down-open"></i></div>
						<div class="col-sm-4"></div>
						<section class="cbp-so-section extra-padding1">
							<article class="cbp-so-side cbp-so-side-left">
								<h2>PRESENT</h2>
								<p>Choose from 30+ slide transitions to present your slide deck. Podium works cross-platform so you can present it on your computer, tablet or phone. You can even present remotely via our Google Hangouts integration or use it for your next keynote presentation as Podium works with most modern presentation clickers.</p>
							</article>
							<figure class="cbp-so-side cbp-so-side-right">
								<img class="img-responsive" src="assets/present.png" alt="img03">
							</figure>
								</div>
							</figure>
						</section>
						<div class="divider"></div>
						<div class="col-sm-4"></div> 
						<div class="col-sm-4"><i class="center-block carrot entypo-up-open"></i></div>
						<div class="col-sm-4"></div>
					</div>
				</div>
			</div>

			<!-- MODAL -->
			<div class="modal fade in" id="live-preview-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
			 <div class="modal-dialog modal-lg">
				 <div class="browser-small">
					<div class="browser-bar">
					  <div class="browser-button"></div>
					  <div class="browser-button"></div>
					  <div class="browser-button"></div>
					</div>
					<div class="browser-content">
						<div class="spinner-wrapper" style="display:none"><div class="row"><div class="col-sm-4"><div class="wrapperloading"><div class="loading up"></div><div class="loading down"></div></div></div><div class="col-sm-8 columns"><h2 class="convert">Please wait while we convert your presentation</h2></div></div></div>
				    <div class="iframe-wrapper"></div>
						
					  <!-- <img class="img-responsive" src="https://m1.behance.net/rendition/modules/77583303/hd/bde9f10ae609e1400180c98a1293518b.jpg"></img> -->
					</div>
				</div>
			</div>
		</div>

			<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
			</script>		







