

<div class="row">
  <div class="large-6 columns">
		<figure class="hero-right animated fadeInUp">
<!-- 			<div class="iphone iphone--light">
      <div class="iphone-camera"></div>
      <div class="iphone-sensor"></div>
      <div class="iphone-earpiece"></div>
      <div class="iphone-content" style="">
        <img src="assets/Slide2.jpg"></img>
      </div>
      <div class="iphone-home"></div>
    </div>

    <div class="ipad">
      <div class="ipad-camera"></div>
      <div class="ipad-content" style="">
        <img src="assets/Slide2.jpg"></img>
      </div>
    	<div class="ipad-home"></div>
    </div> -->

			<div class="browser">
        <div class="browser-bar">
          <div class="browser-button"></div>
          <div class="browser-button"></div>
          <div class="browser-button"></div>
        </div>
        <div class="browser-content">
          <img src="assets/Slide2.jpg"></img>
      	</div>
      </div>
		</figure>
  </div>
  <div class="large-6 columns">
  	<article class="hero-left animated fadeInUp">
			<!-- <img src="assets/crossscreen.png"> -->
			<h2>SHARE YOUR PRESENTATIONS IN A BEAUTIFUL & EASY WAY</h2>
			<a href="#" class="upload large button secondary">UPLOAD TO TRY</a>
    </article>
  </div>
</div>

<div class='row'>
	<div class="small-3 small-centered columns">
		<%= link_to "SIGN UP", new_user_registration_path, class: "sign-up large button success" %>
	</div>
</div>

<div class='row steps'>
	<div class="small-2 large-4 columns vertical-divider"><span class="show-for-small"></span>
		<span class="hide-for-small">
			<span class="entypo-window"></span>
			<h3>WORKS IN BROWSER</h3>
			<p>No more large email attachments, no more lengthy downloads from droplinks. Just click a link and view your presentation.</p>
		</span>
	</div>
	<div class="small-4 large-4 columns vertical-divider">
		<span class="icon-youtube"></span> <i class="icon-plus"></i> <span class="entypo-vimeo"></span>
		<h3>EMBEDED VIDEOS</h3>
		<p>Add videos from YouTube and Vimeo into your presentation by just pasting a link.</p>
	</div>
	<div class="small-6 large-4 columns"><span class="show-for-small"></span>
		<span class="hide-for-small">
			<span class="entypo-switch"></span>
			<h3>BEAUTIFUL TRANSITIONS</h3>
			<p>Choose from 30+ slide transitions to present your slide deck. </p>
		</span>
	</div>
</div>


<div class='row'>
	<div id="first"></div><div class="carrot"><i class="icon-chevron-down"></i></div></a></span>
	<div class='small-11 small-centered columns'>
		<div id="cbp-so-scroller" class="cbp-so-scroller">
		<section class="cbp-so-section">
			<article class="cbp-so-side cbp-so-side-left">
				<h2>UPLOAD</h2>
				<p class="scrollTo">
					Create presentations using the tools you know best, then use Podium to share them. Simply upload a .PPT, .KEY, .PDF, .JPG, .PNG, .MP4 or embed a video from Youtube, Vimeo or an iFrame of a site to Podium. We do some magic, and tada! You have yourself a slide presentation you can organize, choose transitions for and share with your friends.</p>
			</article>
			<figure class="cbp-so-side cbp-so-side-right">
				<img src="assets/1.png" alt="img01">
			</figure>
		</section>
    <div id="second" class="divider"></div><div class="carrot"><i class="icon-chevron-down"></i></div></a>
    	<section class="cbp-so-section extra-padding2">
			<article class="cbp-so-side cbp-so-side-left">
				<h2>SHARE</h2>
				<p>	Easily share your presentation with clients, friends and colleagues using a shortend link or through social media. You can even embed them into your blog or website.</p>
			</article>
			<figure class="cbp-so-side cbp-so-side-right">
				<img src="assets/3.png" alt="img01">
			</figure>
		</section>
    <div id="third" class="divider"></div><div class="carrot"><i class="icon-chevron-down"></i></div></a>
    <section class="cbp-so-section extra-padding1">
					<article class="cbp-so-side cbp-so-side-left">
				<h2>PRESENT</h2>
				<p>Choose from 30+ slide transitions to present your slide deck. Podium works cross-platform so you can present it on your computer, tablet or phone. You can even share your screen and present remotely or use it for your next Keynote presenation as Podium works with most modern presentation clickers.</p>
			</article>
			<figure class="cbp-so-side cbp-so-side-right">
					<div class="iphone-small">
      <div class="iphone-camera"></div>
      <div class="iphone-sensor"></div>
      <div class="iphone-earpiece"></div>
      <div class="iphone-content" style="">
        <img src="assets/Slide2.jpg"></img>
      </div>
      <div class="iphone-home"></div>
    </div>

    <div class="ipad-small">
      <div class="ipad-camera"></div>
      <div class="ipad-content" style="">
        <img src="assets/Slide2.jpg"></img>
      </div>
    	<div class="ipad-home"></div>
    </div> 

			<div class="browser-small">
        <div class="browser-bar">
          <div class="browser-button"></div>
          <div class="browser-button"></div>
          <div class="browser-button"></div>
        </div>
        <div class="browser-content">
          <img src="assets/Slide2.jpg"></img>
      	</div>
      </div>
		</figure>
			</figure>
		</section>
    <div class="divider"></div><div class="carrot"><i class="icon-chevron-up"></i></div></a>
  	</div>
	<script>
		new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
	</script>				
  </div>
</div>








