<div class='row'>
	<div class='large-4 small-centered columns '>
		<ul class="pricing-table">
		  <li class="title">Basic</li>
		  <li class="price">Free</li>
		  <li class="description">No credit card needed </li>
		  <li class="bullet-item">5 Presenations per Month</li>
		  <li class="bullet-item">Beautiful Presentation Framework</li>
		  <li class="bullet-item">Public and Private Presentations</li>
		  <li class="bullet-item">Links Won't Expire</li>
		  <li class="bullet-item">Add YouTube and Vimeo Videos</li>
		  <li class="bullet-item">Choose from 30+ Slides Transitions</li>
			<li class="bullet-item">Basic Analytics</li>
		  <li class="cta-button"><%= link_to "SIGN UP", new_user_registration_path, class: "large secondary button" %></li>
		</ul>
	</div>
</div>	

		