<div class='row'>
	<div class='large-4 small-centered columns '>
		<ul class="pricing-table">
		  <li class="title">Basic</li>
		  <li class="price">Free</li>
		  <li class="description">No credit card needed </li>
		  <li class="bullet-item">Beautiful Presentation Framework</li>
		  <li class="bullet-item">3 Deck Uploads</li>
		  <li class="bullet-item">Public decks only</li>
		  <li class="cta-button"><%= link_to "SIGN UP", new_user_registration_path, class: "large button" %></li>
		</ul>
	</div>
</div>	

		