<div class="row">
			<div class='large-12 centered columns'>
				<div class="large-9 columns">
				  <ul class="small-block-grid-1 large-block-grid-4">
				    	<%= render @projects %>
				    	<%= will_paginate @projects %>
					</ul>
				</div>
						  <div class="large-3 columns">
							<div class="row collapse">
				        <div class="small-10 columns">
				          <%= form_tag browse_projects_path, :method => 'get', :id => "projects_search" do %>
									    <%= text_field_tag :search, params[:search], :placeholder => 'Search Decks' %>
				        </div>
				       	<div class="small-2 columns">
				       		<button class='button prefix' style='width:52px;height:2.9em;'>
									  <i class='icon-search'></i>
									</button>
				        	<% end %>
				        </div>
				      </div>
	      		</div>					
				</div>
			</div>
		</div>

