<div class='row'>
	<div class='large-12 columns'>
		<div class='large-3 columns'>
			<div class='slide-organizer'>
				<p>Slides</p>

				<ol class="sortable">
					<%= render "slides/index" %>
			
				</ol>
			</div>
		</div>
		<div class='large-6 columns'>
			<div class="dropzone-container">
				<div class="dropzone" id="dropzone" data-id="<%= @project.id %>">Drag Files Here   <i class="icon-dropbox"></i></div>
			</div>
		</div>
				<div class='large-3 columns'>
					<div class="right-menu">

					<%= render 'form' %>

					</div>
				</div>

<%= link_to 'Preview', @project %> 
</div>



