<div class='row'>
	<div class='large-12 columns'>
		<div class='large-3 columns'>
			<div class='slide-organizer'>
				<p>Slides</p>
				<ol class="sortable">
					<li class="dropzone2"><i class="icon-plus"></i>   Add New Slide</li>
					<%= render partial: "slides/slide", collection: @slides %>
				</ol>
			</div>
		</div>
		<div class='large-6 columns'>
			<div class="dropzone-container">
				<div class="dropzone" id="current-slide" data-project-id="<%= @project.id %>">Drag Files Here   <i class="icon-dropbox"></i></div>
			</div>
		</div>
				<div class='large-3 columns'>
					<div class="right-menu">

					<%= render 'form' %>
					<%= link_to 'Preview', @project, class: 'button medium button prefix preview' %> 
					</div>
				</div>


</div>



