
		<div class="row">
			<div class="small-10 large-centered columns">
			  <ul class="small-block-grid-1 large-block-grid-4">
			    	<%= render @projects %>
				</ul>
				<div class="large-3 pull-9 columns">...</div>
				<%= will_paginate @projects %>
			</div>

<%= filepicker_image_tag @upload.filepicker_url, w: 160, h: 160, fit: 'clip' %>



