
<div class='row'>
	<div class='large-12 columns'>
		<div class='large-7 large-centered columns'>
			<p>This is a private presentation. Do you have permission to watch it? If so please provide the correct password.</p>
		</div>
		<div class='large-3 small-centered columns'>
			<%= form_for authorize_project_path(@project)  do |f| %>
			  <%= text_field_tag :accesskey %>
			  <%= f.submit "ACCESS", class: "medium button prefix success" %>
			<% end %>
		</div>
	</div>
</div>	