
<div class='row'>
	<div class='large-12 columns'>
		<div class='large-7 large-centered columns private'>
			<h2>Private Presentation</h2><p>To view this presentation, please provide the correct password.</p>
		</div>
		<div class='large-3 small-centered columns'>
			<%= form_for authorize_project_path(@project)  do |f| %>
			  <%= password_field_tag :accesskey %>
			  <%= f.submit "ACCESS", class: "medium button prefix success" %>
			<% end %>
		</div>
	</div>
</div>	