
<div class='row'>
	<div class='col-sm-12 col-xs-12'>
		<div class='col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3 private'>
			<h2>Private Presentation</h2><p>To view this presentation, please provide the correct password.</p>
		 	<div class='row'>
		 		<%= form_for authorize_project_path(@project)  do |f| %>
			 	<div class='col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3'>
			    <div class="input-group">
						  <%= password_field_tag :accesskey, nil, class: 'form-control' %>
						<span class="input-group-btn">  
							<%= f.submit "ACCESS", class: "btn btn-primary" %>
						</span>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>	