
<!-- Preloader -->
<!-- <div id="preloader">
  <div id="status">&nbsp;</div>
</div> -->

<div class='row'>
	<div class='large-12 columns'>
		<!-- <a class="lines-icon"></a> -->
		<div id="pt-main" class="pt-perspective">
			
			<div class="controls">
			</div>

			<% @project.slides.each do |slide| %>
				<div class="pt-page" data-transition="<%= @project.transition %>">
					<% if slide.mimetype == "video/mp4" %>
						<video width='100%' height='100%'>
							<source src="<%= slide.filepicker_url %>">
						</video>
					<% else %>
					<img src="<%= slide.filepicker_url %>/convert?w=1920&h=1080&fit=scale">
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

            <!-- Preloader -->
    <script type="text/javascript">
    //<![CDATA[
      $(window).load(function() { // makes sure the whole site is loaded
          $("#status").fadeOut(); // will first fade out the loading animation
          $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
      })
    //]]>

    $(".top-bar").hide();
		</script>


