


<div class="modal fade" id="screenshare_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h2>Screenshare your presentation:</h2>
      </div>
      <div class="modal-body">
      	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
        	<div class="g-hangout" data-render="createhangout"></div>
        </div>
      </div>
    </div>
  </div>
</div>

