@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*Bootstrap Override*/

/*Typography*/
$font-family-sans-serif: 'Lato', sans-serif;

/*Color*/
$brand-primary:#5f6f81;

/*Buttons*/
$btn-primary-color: #fff;
$btn-primary-bg:#5f6f81;
$btn-primary-border:#546272;
$btn-success-bg:#5da423;
$btn-success-border:#457a1a;
$btn-default-bg:#f2f2f2;
$btn-default-border:#5f6f81;
$btn-info-bg:#f2f2f2;
$btn-info-border:white;
$btn-info-color:black;
$btn-danger-bg:#c9302c;


/*Components*/
$border-radius-base:0px;
$border-radius-large:0px;
$border-radius-small:0px;

/*Panels*/
$panel-bg:#f2f2f2;
$panel-default-border:#BDBCBC;
$panel-primary-border:#BDBCBC;
$panel-inner-border:#BDBCBC;

/*Input*/
$input-border-focus:#5f6f81;

/*Tooltips*/
$tooltip-bg:rgba(0, 0, 0, 0.75);

/*Form*/
$input-border-focus:rgba(51, 51, 51, 0);

/*Alert*/
$state-info-bg:white;
$state-info-border:#546272;
$state-info-text:#5f6f81;

@import "bootstrap";


@media(max-width:767px){
	.refer p {
		font-size: 20px !important;
	}

	.hero-message {
		margin-top: 72px;
	}

	.hero-message h2 {
		font-size: 20px !important;
		line-height: 30px !important;
	}

	.welcome-message {
		padding-bottom: 200px;
	}

	.referral {
		margin-top: -42px;
	}

	.live-preview {
		opacity: 1 !important;
		left: 27% !important;
		margin-top: 11px !important;
	}
}

@media(min-width:768px){
	.refer p { 
		font-size: 17px !important;
	}

	.hero-message {
		margin-top: 142px !important;
	}

	.hero-message h2 {
		font-size: 20px !important;
		line-height: 30px !important;
	}

.referral {
		margin-top: -42px;
	}
}

@media(min-width:992px){
.refer p { 
		font-size: 17px !important;
	}

		.title h2 {
		font-size: 28px !important;
	}
}

@media(min-width:1200px){
	.refer p {
		font-size: 20px !important;
	}

	.title h2{
	font-size: 28px !important;
	}

	.referral {
		margin-top: 0px;
	}
}

/* centered columns styles */
.row-centered {
   margin:0 auto;
}
.col-centered {
   margin:0 auto;
}

*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@import url(http://weloveiconfonts.com/api/?family=entypo|fontelico);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0 !important;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #e2e2e2 !important;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 13px;
	font-family: "Lato", Arial, sans-serif;
	font-style: normal;
	color: #5f6f81;
	text-rendering: optimizeLegibility;
	margin:0;
}

h2 {
	letter-spacing: 8px;
	font-size: 27px;
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #5f6f81;
	text-rendering: optimizeLegibility;
}

h3 {
	letter-spacing: 8px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #5f6f81;
	text-rendering: optimizeLegibility;
	text-align: center;
}

h4 {
	letter-spacing: 0px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #5f6f81;
	text-rendering: optimizeLegibility;
	text-align: center;
}

a {
	text-decoration: none !important;
}

i {
	font-style: normal !important;
	text-decoration: none !important;
}

.login a {
			padding: 21px 12px 21px 137px !important;
	}

.step {
	text-align: center;
}

.navbar {
	margin-bottom: 10px !important;
}

.jumbotron {
	padding: 0px !important;
	margin-bottom: 0px !important;
}

#localDragHelp {
  visibility: hidden !important;
}

#localDragHelp:after {
  content:'goodbye'; 
  visibility: visible;
  display: block;
  position: absolute;
  background-color: red;
  padding: 5px;
  top: 2px;
}

.accordion {
	margin-bottom: -6px !important;
	top:10px;

}

.panel-heading {
	padding: 0px 15px;
}

.panel-title {
	margin-top: 20px;
}

#projects-show {
	background-color: #3A3A3A !important;
	overflow: hidden;
}

.homepage-nav {
	border-right:none !important;
}

/* Preloader */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(58, 58, 58, 0.5); /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
	background: #ACACAC;

}
::-webkit-scrollbar-thumb {
	background: #3A3A3A; 
}
::-webkit-scrollbar-corner {
	background: #ACACAC;
}

.steps {
	background: white;
	box-shadow: inset 0px 0px 0px 1px #B8B8B8;
	text-align: center;
	font-size: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	color:#5f6f81;
}

.steps h4{
	font-size: 15px;
	letter-spacing: 0px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.steps p{
	font-size: 13px;
}

.steps i{
font-size: 46px;
}

.already-visible {
  animation: none;
}

.btn {
	font-family: 'lato';
	font-weight: bold;
	letter-spacing: 2px  !important;
	font-size: 11px  !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: uppercase;
	width:100%;
}

.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
}

.button.prefix.access {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 32px;
	padding: 4px;
}

.button.secondary {
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.button.secondary:hover {
	background-color:#999999 !important;
}

.red.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
	background-color: rgb(202, 26, 33);
}

.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
}

.button.medium.button.prefix.preview {
	line-height: 35px;
}

.button.medium.button.prefix.present {
	line-height: 35px;
	border: 1px solid #5f6f81;
	background: #e9e9e9;
	color: #333333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button.medium.button.prefix.present:hover {
	background: rgba(51, 51, 51, 0.5);
}

.alert-box.alert {
	background-color: #c60f13;
	border-color: #970b0e;
	color: white;
	font-weight: 200;
	color: gray;
}

.alert-box.secondary-alert {
	background-color: #e9e9e9;
	font-weight: 200;
	border-color: #C9C9C9;
	color: #5f6f81;
}


.alert-box.secondary-notice {
	background-color: #e9e9e9;
	font-weight: 200;
	color: #5f6f81;
	float:initial;
	top:-9px;
	z-index: 10;
	box-shadow: 0px 0px 0px 0px #7a7fa8;
	-webkit-box-shadow: 0px 0px 0px 0px #7a7fa8;
}

.reveal-modal.large {
	margin-left: -30%;
	width: 160% !important;
	height: 160% !important;
	top:20px;
}

.reveal-modal h2 {
	color: #5f6f81 !important;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
}

#share_modal h2{
	color: #5f6f81 !important;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
}

#preview {
	padding: 0px !important;
	border:none;
}

#preview iframe {
	width: 100%;
	height: 100%;
	left: 0% !important;
}

.button.secondary:focus {
	outline:none;
}

.container > header,
.codrops-top {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 12em 2em;
	padding-left: 370px;
	background: rgba(0,0,0,0.05);
}

.container > header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

.container > header a:hover {
	color: #4f7bab;
}

.container > header h1 {
	font-size: 3.2em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 55%;
	color: #74818e;
	padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}

@media screen and (max-width: 740px) {

	.codrops-icon span {
		display: none;
	}

}

.logo li a {
	border-right: 1px solid #c6d0da !important;
}

.logo a {
	border-right: 1px solid #c6d0da !important;
}

.logo img {
	height: 50px;
	margin: 5px;
}

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: white;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
		z-index: 999;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #5f6f81;
		text-decoration: none;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		-moz-transition:width .3s, height .3s, background-color .3s, -moz-transform .3s;
    -webkit-transition:width .3s, height .3s, background-color .3s, -webkit-transform .3s;
    -o-transition:width .3s, height .3s, background-color .3s, -o-transform .3s;
    transition:width .3s, height .3s, background-color .3s, transform .3s;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;


}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		text-align: center;
		border-left: 1px solid #c6d0da;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: 1px solid #c6d0da;
		border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: white;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.current-user {
	width: 307px;
}


.current-user p {
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 11px;
	float: left;
	letter-spacing: 2px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'entypo', sans-serif; 
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-question::before {
		content: "\f128";
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\f013";
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-certificate::before {
		 content: "\f0a3";
}

.gn-icon-unlock-alt::before {
		content: "\f13e";
}

.gn-icon-plus::before {
		content: "\f067";
}

.gn-icon-folder-open:before {
  content: "\f304";
}

.entypo-picture:before {
 	content: "\1F304";
}

.entypo-upload:before {
 	content: "\E75B";
}

.entypo-user:before {
 	content: "\1F464";
}

.entypo-support:before {
 	content: "\2753";
}

.entypo-logout:before {
 	content: "\1F513";
}

.gn-icon-user:before {
  content: "\f007";
}

.gn-icon-browse:before {
  content: "\f002";
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #5f6f81;
		box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: #5993cd;
		box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}

.sample-deck {
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
 	width: 228px;
	height: 171px;
  margin: 0 auto;
  position:relative;
  background: #242424;
}

.sample-img img {
	opacity: .5;
	border-radius: 2px;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition:opacity .5s;
	height: 100%;
	width: 100%;
}

.sample-img img:hover {
	opacity: 1;
}

.info-box {
	float: left;
	left: -7%;
	position: relative;
	bottom: 100px;
}

.info-box a{
	color:white;
}

.info-box a:hover{
	color:rgb(199, 199, 199);
}


.updated-at {
	font-size: 9px;
	font-family: 'Lato', Arial, sans-serif;
	display: block;
	font-weight: 300;
}

.sample-deck h3 {
	color: white;
	font-size: 17px;
	font-family: 'Lato', Arial, sans-serif;
	margin-left: 110px;
	margin-top: -18px;
}

.sample-deck p {
	color: white;
	opacity: 50%;
	font-size: 11px;
	font-family: 'Lato', Arial, sans-serif;
	margin-top: -4px;
	margin-left: 110px;
}

.sample-deck > li { clear: none !important; }

.project-description{
	display:block;
}

.project-description a {
	font-size:16px;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.project-description a:hover {
	opacity: .5;
}

.untitled-project {
	background: rgb(226, 226, 226);
	width: 100%;
	height:180px;
	opacity: .5;
	text-align: center;
}

#untitled-icon {
	font-size: 103px;
	text-align: center;
	margin:auto;
}

.sample-profile img {
	height: 50px;
	float: left;
	margin-left: 43px;
	margin-top: -23px;
	border: 1px solid #c6d0da;
	padding: 2px;
	border-radius: 100px;
	opacity: 1;
	-webkit-transition: border 0.2s;
	-moz-transition: border 0.2s;
	transition: border 0.2s;
}

.sample-profile i {
	height: 50px;
	float: left;
	margin-left: 43px;
	margin-top: -23px;
	border: 1px solid #c6d0da;
	padding: 16px;
	border-radius: 100px;
	opacity: 1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	font-size: 18px;
	background-color: #E0E0E0;
	color:#5f6f81;
}

.sample-profile i:hover {
	color:white;
	background:#5f6f81;
}

.profile-header {
	float: left;
}

.upload {
	border-right: none !important;
}

.profile-header img {
	height: 50px;
	border: 1px solid #c6d0da;
	padding: 2px;
	border-radius: 100px;
	opacity: 1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.profile-header img a:hover {
	background: none;
}

.profile-header i {
	height: 50px;
	border: 1px solid #c6d0da;
	padding: 13px;
	padding-left: 16px;
	border-radius: 100px;
	opacity: 1;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
	font-size: 18px;
	background-color: #E0E0E0;
}

.profile-header i a:hover {
	background: none;
}


.project-tools {
	margin-top:60px;
	float: right;
}

.project-tools a {
	padding: 8px;
}

.project-tools i {
	color: #ACACAC;
	font-size: 17px;
}

.project-tools i:hover {
	color: #5f6f81;
}

.slide-tools {
	position: relative;
	top: -3px;
	width: 110px;
	height: 50px;
	margin: 0 auto;
	left: 30px;
}


.slide-tools li {
	display: inline;
	float: right;
	padding: 4px;
	color: white;
}

.slide-tools i {
	color: white;
}

.panel {
	border: 1px solid #BDBCBC !important;
}

.panel.stats h1 {
	font-family: 'Lato', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	color: #5f6f81;
}


.stats {
	display: block;
	margin: 0 auto;
	padding-bottom: 68px;
	padding-left: 26px;
}

.stats li {
	display: inline;
	float: left;
	padding-left: 27px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
}

.stats li i{
	padding-right:16px;
}

.add-project {
	background: lightgray;
	border-radius: 2px;
	border: 1px dashed gray;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
	width: 228px;
	height: 180px;
	margin: 0 auto;
	opacity: 1;
  -moz-transition: background .5s;
	-webkit-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

.add-project i {
	font-size: 60px;
	display: block;
	text-align: center;
}

.add-project p {
	color: #34495e;
	opacity: 50%;
	font-size: 12px;
	font-family: 'Lato', Arial, sans-serif;
	margin-top: 46px;
	line-height: 30px;
	text-align: center;
}

.add-project:hover {
	background: rgb(143, 143, 143);;
	cursor: pointer;
}

.add-project > li { clear: none !important; }

.profile-info {
	padding-top: 40px;
}

.sidebar {
	position: fixed;
}

.right-menu {
	height: 1000px;
	width: 100%;
	padding-top: 20px;
	margin-top: -14px;
	maring-left:-2px;
	background: lightgrey;
	-webkit-box-shadow: inset 10px 0px 10px -13px black;
	-moz-box-shadow: inset 10px 0px 10px -13px black;
	box-shadow: inset 10px 0px 10px -13px black;
}

.right-menu p {
line-height: 1.0;
margin-bottom: 1.25em;
text-rendering: optimizeLegibility;
font-weight: 300;
font-family: 'Lato', Arial, sans-serif;
font-size: 20px;
margin-left: 14px;

}

.right-menu p div {
padding-left: 17px;
color: #5f6f81;
}

.right-menu i {
padding: 12px;
color: #5f6f81;
}

.bar {
	border-top: 5px solid #5f6f81;
}

.slide-organizer {
	height: 100%;
	overflow-y: scroll;
	background: #4b4b4b;
	width: 324px;
	margin-left: -98px;
	margin-top: -20px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	z-index: 9;
	padding-bottom:50px;
	height: 1000px;
}

.slide-organizer p {
	color: white;
	margin-left: 34%;
	margin-top: 27px;
	font-weight: 200;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}

.slide-drag {
	width: 167px;
	height: 122px;
	margin-left: 124px;
	margin-top: 10px;
	background: rgba(255, 255, 0, 0.25);
	border: 1px dashed rgba(255, 255, 0, 0.5);
	border-radius: 2px;

}

.slide {
	width: 167px;
	height: 165px;
	margin-left: 124px;
}


.slide img, .slide .blank {
	width: 167px;
	height: 122px;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	opacity: 1;
	-moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  background-size:167px 122px;
	background-repeat:no-repeat;
}


.slide img:hover, .slide .blank:hover {
  cursor: pointer;
  opacity: .60;
}

.selected {
  border: 2px solid yellow !important;
}

.slide img:focus {
  border: 2px solid yellow !important;
}

.dropzone-container {
	width: 100%;
	padding-bottom: 62%;
	margin-top: 40px;
}

.dropzone {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	background-color:inherit;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}

.dropzone p {
	line-height: 403px;
	font-weight: lighter;
}

.dropzone img {
	margin:auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
	position: absolute;
	max-width:90%;
	max-height:100%;
	border:1px solid #e2e2e2;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2); 
}

.dropzone-home {
	background: lightgray;
	border-radius: 2px;
	border: 1px dashed gray;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
	width: 228px;
	height: 180px;
	margin-left: 100px;
	opacity: 1;
  -moz-transition: background .5s;
	-webkit-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

.dropzone-home i {
	font-size: 60px;
	display: block;
	text-align: center;
}

.dropzone-home p {
	color: #34495e;
	opacity: 50%;
	font-size: 12px;
	font-family: 'Lato', Arial, sans-serif;
	margin-top: 46px;
	line-height: 30px;
	text-align: center;
}

.dropzone-home:hover {
	background: rgb(143, 143, 143);;
	cursor: pointer;
}


.dropzone2 {
	border-radius: 2px;
	border: 1px dashed gray;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
	width: 167px;
	height: 122px;
	margin-left: 124px;
	margin-bottom:30px;
	color: white;
	opacity: 1;
	text-align: center;
  -moz-transition: background .5s, opacity .5s, -moz-transform .5s;
	-webkit-transition: background .5s, opacity .5s, -webkit-transform .5s;
	-o-transition: background .5s, opacity .5s, -o-transform .5s;
	transition: background .5s, opacity .5s, transform .5s;
}

.dropzone2 i {
	font-size: 40px;
	display: block;
	color: white;
	margin-left: 1px;
	margin-top: 30px;
}

.dropzone2 p {
	color: white;
	opacity: 50%;
	font-size: 12px;
	font-family: 'Lato', Arial, sans-serif;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
}

.dropzone2:hover {
	background: rgb(143, 143, 143);;
	cursor: pointer;
}

.controls {
	z-index: 100000;
	position: fixed;
}

.controls i {
	color:white;
	font-size: 30px;
	font-style: normal !important;
	-moz-transition: color .3s;
  -webkit-transition: color .3s;
  -o-transition:  color .3s;
  transition: color .3s;
}

.controls i:hover {
	color: #5f6f81;
	cursor: pointer;
}

.right-controls {
	text-align: center;
}

.right-controls a {
	display: block;
	
}

.center-controls {
	text-align: center;
	padding-top: 680px;
}

.center-controls i {
	padding:20px;
}

.expand {
	padding-top: 560px;
}

.social-share-button-twitter {
display: inline-block;
width: 63px;
height: 63px;
background: url("/assets/social-share-buttons.png") -135px -200px no-repeat;
}

.social-share-button-google_plus {
display: inline-block;
width: 63px;
height: 63px;
background: url("/assets/social-share-buttons.png") -70px -134px no-repeat;
}

.social-share-button-facebook {
display: inline-block;
width: 63px;
height: 63px;
background: url("/assets/social-share-buttons.png") -134px -6px no-repeat;
}

.divider {
	border-bottom: 1px solid #c6d0da;
	padding-top:27px;
}

.carrot {
	width: 92px;
	height: 19px;
	border: 1px solid #c6d0da;
	position: relative;
	top: -10px;
	background: #F3F3F3;
	font-family: lato;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	-moz-transition: background .3s;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}


.content {
	-webkit-box-shadow:  inset 0 11px 10px -13px black;
	-moz-box-shadow:  inset 0 11px 10px -13px black;
	box-shadow:  inset 0 11px 10px -13px black;
}

#example-slide {
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* FF3.6+ */
	background: -webkit-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* Opera 11.10+ */
	background: -ms-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* IE10+ */
	background: linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* W3C */
	box-shadow: 0 1px 5px rgba(104, 104, 104, 1);
	width: 173px;
	height: 104px;
	margin: 17px 36px;
}

.pro {
	background: #5f6f81;
	border-radius: 2px;
	color: white;
	margin: 10px;
	padding: 3px;
	font-size: 11px;
	text-transform: uppercase;
	font-family: 'Lato', Arial, sans-serif;
}

.button.avatar-button{
	margin-left: -9px;
	margin-top: 16px;
	box-shadow: 0px 5px 11px -3px black;
	background-color: #5da423;
	border-color: #457a1a;
	color: white;
	font-family: 'Lato', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 12px;
}

.avatar-container i {
	font-size: 52px;
}

.password i {
	color:white;
}

.homepage {
	float: left;
	margin-top: 0%;
	position: relative;
	margin-left: 41%;
	text-align: center;
	margin-bottom: 40px;
}

.button-group {
	left: 11%;
	position: relative;
}

.large.button{
	-webkit-box-shadow: 0px 0px 0px 1px rgba(122, 127, 168, 1);
	box-shadow:  0px 0px 0px 1px rgba(122, 127, 168, 1);
}
.large.button.divide {
	border-right: 2px inset rgb(182, 172, 172);
}

.main-content {
	padding-top: 20px;
}

.lines-icon{
	left: 50%;
	z-index: 999;
	top: 30px;
	vertical-align: -2px;
	width: 30px;
	height: 3px;
	float: left;
	position: relative;
	background: #5f6f81;
	box-shadow: 0 3px rgba(255, 255, 255, 0), 0 -6px #5f6f81, 0 -9px rgba(255, 255, 255, 0), 0 -12px #5f6f81;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.lines-icon:hover{
	opacity:.5;

}

#drop2 {
	margin-left: 107px;	
}

video {
	background:black;
}

.blank-slide {
	background: white;
	width: 100%;
	height: 100%;
}

.vid {
	height: 100%;
	width: 100%;
	opacity: 1;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.vid:hover{
	cursor: pointer;
	opacity: .60;

}

.slide .blank {
	display: inline-block;
}

.editor {
	font-size: 15px !important;
	text-align: center !important;
	padding-top: 1em !important;
	padding-right: 1.5em!important;
	padding-bottom: 1.0625em !important;
	padding-left: 1.5em !important;
}

.edit i:hover {
	text-decoration: none !important;
}

iframe {
	width:95%;
	height:95%;
	float: left;
	left: 2%;
	position: relative;
}

#current-slide iframe {
	width: 100%;
	height: 100%;
	float: left;
	left: 0%;
	position: relative;
}

.deck {
	background: white;
	padding-bottom: 10px;
	height:280px;
}

.deck-thumb {
	display: block;
	overflow: hidden;
	position: relative;
	height:180px !important;
}

.deck-thumb img {
	max-height: 250px;;
	opacity:1;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.deck-thumb img:hover{
	opacity:.5 !important;
}


.sample-deck video {
	opacity: .5;
	border-radius: 2px;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.sample-deck video:hover {
	opacity: 1;
	cursor: pointer;
}


.hero-right {

}

.hero-left {

}

.padding-top {
	padding-top: 30px;
}


.hero-left h2 {
	letter-spacing: 8px;
	margin-top: 90px;
	width: 400px;
	font-size: 37px;
}

.sign-up {

}

.vertical-divider {
	border-right: 1px solid rgb(190, 190, 190);
}

#wrapper {
  position: absolute;
	z-index: 1;
	top: 1px;
	bottom: 695px;
	left: 0;
	width: 100%;
	height:90px;
	background: #4b4b4b;
	overflow: hidden;
	padding-top: 10px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	cursor:-webkit-grab;
	display: none;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 5000px;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#scroller li {
  display: block;
  float: left;
  width: 100px;
  height: 100%;
  font-size: 14px;
  padding-right: 3px;
}

#scroller video {
	width: 101px;
	padding-right: 3px;
	background:none;
}

.myScrollbarH {
	position:absolute;
	z-index:100;
	width:8px;bottom:7px;top:2px;right:1px
}

.myScrollbarH > div {
	position:absolute;
	z-index:100;
	width:100%;
	/* The following is probably what you want to customize */
	background:#ACACAC;
	border:1px solid #3A3A3A;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}

/* Device CSS */

.browser {
	margin-top: 60px;
}

#browser-small {
   -webkit-transition: all .5s ease-in-out;
   -webkit-transform-origin: top left !important;
}
.browser-small-anim {
   -webkit-transform: scale(1.95) !important;
   z-index: 10000;
}

.browser-bar {
	border-radius: 3px 3px 0 0;
	height: 21px;
	font-size: 1px;
	background-color: #3D3D3D;
	line-height: 26px;
}

.browser-button {
	display: inline-block;
	height: 21px;
	font-size: inherit;
	margin-left: 6px;
}

.browser-button:first-child {
	margin-left: 8px;
}

.browser-button:before {
	content: "\25cf";
	font-size: 9px;
	line-height: 20px;
	color: #F0E8E8;
}

.browser-content {
	background-color: #3A3A3A !important;
}

.browser-content img {
	opacity:1;
	background:black;
	-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
	transition: all .75s;
	width: 100%;

}


.browser-content img:hover {
	opacity:.5;
	cursor: pointer;
}

.live-preview {
	opacity:0;
	position: absolute;
	width: 150px;
	left: 40%;
	margin-top: 26px;

}

.browser-content:hover .live-preview {
	opacity:1;
	z-index: 100000;
}

.button-centered {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	margin-top: -15px;
}


.marketing-tour figure .iphone:not(:only-child) {
	position: absolute;
	bottom: -15%;
	right: 0;
	z-index: 1;
	-ms-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-moz-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
	box-shadow: rgba(0, 0, 0, .1) 0px 3px 10px;
}


.iphone {
	display: block;
	width: 228px;
	height: 480px;
	border-radius: 28px;
	overflow: hidden;
	background-color: #3B3B3B;
	-webkit-transform: rotate(90deg) scale(.75);
	z-index: 100;
	position: absolute;
	float: left;
	top: 167px;
	left: 197px;
	border: 1px solid rgb(158, 158, 158);
}

.iphone-small {
	display: block;
	width: 228px;
	height: 480px;
	border-radius: 28px;
	overflow: hidden;
	background-color: #3B3B3B;
	-webkit-transform: rotate(90deg) scale(0.5);
	z-index: 100;
	position: absolute;
	float: left;
	top: 1310px;
	left: 777px;
	border: 1px solid #9e9e9e;
	}

.iphone-camera {
	height: 1.9%;
	width: 4%;
	border-radius: 100%;
	margin: 6% auto 4%;
	background-color: #181818;
}

.iphone-sensor {
	display: inline-block;
	height: 1.5%;
	width: 3.1%;
	border-radius: 100%;
	float: left;
	background: black;
	position: relative;
	left: 35%;
	top: 1px;
}


.iphone-earpiece {
	position: relative;
	width: 18.4%;
	margin: 1% auto 6.5%;
	height: 1.7%;
	border-radius: 15px;
	background: black;
}

.iphone-content {
	-webkit-backface-visibility: hidden;
}

.iphone-content {
	position: relative;
	width: 88%;
	height: 75%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #222;
}

.iphone-home {
	width: 18.4%;
	height: 8.75%;
	margin: 5.3% auto 0;
	background-color: black;
	border-radius: 100%;
	border-radius: 999px;
	-webkit-border-radius: 999px;
}

.ipad {
	display: block;
	width: 526px;
	height: 684px;
	border-radius: 28px;
	overflow: hidden;
	background-color: #3B3B3B;
	-webkit-transform: rotate(90deg) scale(0.5);
	z-index: 99;
	position: absolute;
	float: left;
	top: -73px;
	left: 130px;
	border: 1px solid #9e9e9e;
}

.ipad-small {
	display: block;
	width: 526px;
	height: 684px;
	border-radius: 28px;
	overflow: hidden;
	background-color: #3B3B3B;
	-webkit-transform: rotate(90deg) scale(0.5);
	z-index: 99;
	position: absolute;
	float: left;
	top: 1110px;
	left: 430px;
	border: 1px solid #9e9e9e;
}

.ipad-camera {
	height: 1.9%;
	width: 2.1%;
	border-radius: 100%;
	margin: 6% auto 4%;
	background-color: #181818;
}

.ipad-content {
	-webkit-backface-visibility: hidden;
}

.ipad-content {
	position: relative;
	width: 78%;
	height: 81%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #222;
}

.ipad-home {
	width: 8.4%;
	height: 6.75%;
	margin: 1.7% auto 0;
	background-color: black;
	border-radius: 100%;
	border-radius: 999px;
	-webkit-border-radius: 999px;
}

.pagination {
display: block;
height: 1.5em;
margin-left: 2.6875em !important;
margin-bottom: 4em;
}

label {
	color: #5f6f81 !important;
	cursor: default !important;
}

.refer {
	background-color: white !important;
	 box-shadow: inset 0px 0px 0px 0px #000000 !important; 
	-moz-box-shadow: inset 0px 0px 0px 0px #000000 !important;
 	-webkit-box-shadow: inset 0px 0px 0px 0px #000000 !important; 
 	box-shadow: inset 0px 0px 0px 0px #000000 !important; 
}

.refer input:hover {
	cursor: text;
}

.refer p{
	color: #5f6f81 !important;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
}

#referral a {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.private {
	text-align: center;
}

.chart-wrapper {
	float: left;
	display: inline;
	position: absolute;
	top: 99px;
	left: 270px;
}

.refer-wrapper {
	padding-top:20px;
	width:85%;
	height:85%;
	margin-top: -24px;
}

.refer-wrapper p{
	color: #5f6f81 !important;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
}

.storage-percentage-wrapper {
	float: left;
	display: inline;
	position: absolute;
	top: 161px;
	left: 101px;
	font-size: 40px;
	text-align: center;
}

.storage-percentage-wrapper p {
	font-size:17px;
	font-weight: 300;
}

.user-project-count strong {
	font-size: 31px;
	font-weight: 200;
}

.user-project-limit {
	border-left: 1px solid lightgrey;
	position: relative;
	top: -31px;
	left: 170px;
	padding-left: 10px;
}

.user-project-limit strong {
	font-size: 31px;
	font-weight: 200;
}

// Dark text
.light {
  color: #000;
}

// Light text
.dark {
  color: #fff;
}

.delete {
	color:white;
}

.panel-body {
	background: rgb(230, 230, 230);
	box-shadow: inset 0px 2px 19px -11px #000000;
	-moz-box-shadow:  inset 0px 2px 19px -11px #000000;
	-webkit-box-shadow:  inset 0px 2px 19px -11px #000000;
	box-shadow: inset 0px 2px 19px -11px #000000;
}

.welcome-message {

}

.welcome-message span {
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #5f6f81;
	text-rendering: optimizeLegibility;
}

.welcome-message h2 {
	color: #5f6f81;
	font-size:23px;
	color: #5f6f81 !important;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 200;
}

.close:focus {
  outline: none !important;
}

.btn-info:focus{
	outline: none !important;
}

#live-preview-modal {
  margin-top:5%;

  .browser-bar {
  	background: #AFAFAF;
  }

  .browser-content {
  	min-height: 600px;
  	overflow: hidden;
  }

  iframe {
  	overflow: hidden !important;
  	height:100%;
  	width:100%;
  	left:0;
  	min-height:600px;
  	display: none;
  }
}

