@import 'font-awesome';


*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'ecoicons';
		src: url("/assets/ecoicons.eot");
		src: url("/assets/ecoicons.eot?#iefix") format("embedded-opentype"), url("/assets/ecoicons.woff") format("woff"), url("/assets/ecoicons.ttf") format("truetype"), url("/assets/ecoicons.svg#ecoicons") format("svg");
}

/* Icomoon.com */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
	background: #ACACAC;

}
::-webkit-scrollbar-thumb {
	background: #3A3A3A; 
}
::-webkit-scrollbar-corner {
	background: #ACACAC;
}

.button {
	letter-spacing: 1px;
	font-size: 11px;
}

.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
}

.red.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
	background-color: rgb(202, 26, 33);
}

.button.prefix {
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	height: 35px;
}

.button.medium.button.prefix.preview {
	line-height: 35px;
}

.alert-box.alert {
	background-color: #c60f13;
	border-color: #970b0e;
	color: white;
	font-weight: 200;
	color: gray;
}

.alert-box.secondary-alert {
	background-color: #e9e9e9;
	font-weight: 200;
	border-color: #C9C9C9;
	color: gray;
}

.alert-box.secondary-notice {
	background-color: #e9e9e9;
	font-weight: 200;
	border-color: #C9C9C9;
	color: gray;
}

.container > header,
.codrops-top {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 12em 2em;
	padding-left: 370px;
	background: rgba(0,0,0,0.05);
}

.container > header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

.container > header a:hover {
	color: #4f7bab;
}

.container > header h1 {
	font-size: 3.2em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 55%;
	color: #74818e;
	padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}

@media screen and (max-width: 740px) {

	.codrops-icon span {
		display: none;
	}

}

.logo img {
	height: 50px;
	margin: 5px;
}

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: white;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
		z-index: 999;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #5f6f81;
		text-decoration: none;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		-moz-transition:width .3s, height .3s, background-color .3s, -moz-transform .3s;
    -webkit-transition:width .3s, height .3s, background-color .3s, -webkit-transform .3s;
    -o-transition:width .3s, height .3s, background-color .3s, -o-transform .3s;
    transition:width .3s, height .3s, background-color .3s, transform .3s;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;


}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-backface-visibility: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: 1px solid #c6d0da;
		border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: white;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.current-user {
	text-transform: uppercase;
	font-weight: bolder;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 11px;
	margin-right: 30px;
	margin-left: 11px;
	width: 176px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons','FontAwesome', sans-serif; 
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-question::before {
		content: "\f128";
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\f013";
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-certificate::before {
		 content: "\f0a3";
}

.gn-icon-unlock-alt::before {
		content: "\f13e";
}

.gn-icon-plus::before {
		content: "\f067";
}

.gn-icon-folder-open:before {
  content: "\f07c";
}

.gn-icon-user:before {
  content: "\f007";
}

.gn-icon-browse:before {
  content: "\f002";
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #5f6f81;
		box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: #5993cd;
		box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}

.sample-deck {
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
 	width: 234px;
	height: 176px;
  margin: 0 auto;
  position:relative;
  background: #242424;
}

.sample-img img {
	opacity: .5;
	border-radius: 2px;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition:opacity .5s;
}

.sample-img img:hover {
	opacity: 1;
}

.info-box {
	float: left;
	left: -7%;
	position: relative;
	bottom: 100px;
}

.sample-deck h3 {
	color: white;
	font-size: 17px;
	font-family: 'Lato', Arial, sans-serif;
	margin-left: 110px;
	margin-top: -18px;
}

.sample-deck p {
	color: white;
	opacity: 50%;
	font-size: 11px;
	font-family: 'Lato', Arial, sans-serif;
	margin-top: -4px;
	margin-left: 110px;
}

.untitled-project {
	background: white;
	width: 100%;
	height:100%;
	opacity: .5;
}

#untitled-icon {
	font-size: 103px;
	float: left;
	padding: 33px;
	margin-left: 38px;
	margin-top: 10px;
}

.sample-profile img {
	height: 50px;
	float: left;
	margin-left: 43px;
	margin-top: -23px;
	border: 1px solid #c6d0da;
	padding: 2px;
	border-radius: 100px;
	opacity: 1;
	-webkit-transition: border 0.2s;
	-moz-transition: border 0.2s;
	transition: border 0.2s;
}

.sample-profile img:hover {
	border: 3px dotted #c6d0da;
}

.project-tools {
	position: relative;
	top: -89px;
	width: 110px;
	margin: 0 auto;
	left: 50px;
}

.project-tools li {
	display: inline;
	float: right;
	padding: 10px;
}

.project-tools i {
	color: white;
}

.project-tools i:hover {
	color: #5993cd;
}

.slide-tools {
	position: relative;
	top: -3px;
	width: 110px;
	height: 50px;
	margin: 0 auto;
	left: 30px;
}


.slide-tools li {
	display: inline;
	float: right;
	padding: 4px;
	color: white;
}

.slide-tools i {
	color: white;
}


.stats {
	display: block;
	margin: 0 auto;
	padding-bottom: 68px;
	padding-left: 26px;
}

.stats li {
	display: inline;
	float: left;
	padding-left: 34px;
	padding-right: 35px;
	padding-top: 8px;
	border: 1px solid lightgray;
	background: rgb(233, 233, 233);
	text-align: center;
}

.add-project {
	background: lightgray;
	border-radius: 2px;
	border: 1px dashed gray;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
	width: 234px;
	height: 177px;
	margin: 0 auto;
	opacity: 1;
  -moz-transition: background .5s;
	-webkit-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

.add-project i {
	font-size: 60px;
	display: block;
	text-align: center;
}

.add-project p {
	color: #34495e;
	opacity: 50%;
	font-size: 11px;
	font-family: 'Lato', Arial, sans-serif;
	margin-top: 46px;
	line-height: 30px;
	text-align: center;
}

.add-project:hover {
	background: rgb(143, 143, 143);;
	cursor: pointer;
}

.profile-info{
	padding-top: 40px;
}

.right-menu {
	height: 100%;
	width: 320px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 100%;
	margin-top: -14px;
	margin-left: 30px;
	background: lightGrey;
	-webkit-box-shadow: inset 10px 0px 10px -13px black;
	-moz-box-shadow:    inset 10px 0px 10px -13px black;
  box-shadow:         inset 10px 0px 10px -13px black;
}

.right-menu p {
line-height: 1.6;
margin-bottom: 1.25em;
text-rendering: optimizeLegibility;
font-weight: 300;
font-family: 'Lato', Arial, sans-serif;
font-size: 20px;

}

.right-menu p span {
padding-left: 17px;
color: #5f6f81;
}

.right-menu i {
padding: 12px;
color: #5f6f81;
}

.bar {
	border-top: 5px solid #5f6f81;
}

.slide-organizer {
	height: 100%;
	overflow-y: scroll;
	background: rgb(75, 75, 75);
	float: left;
	width: 324px;
	position: relative;
	left: -128px;
	top: -20px;	
	-moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.slide-organizer p {
	color: white;
	margin-left: 34%;
	margin-top: 27px;
	font-weight: 200;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}

.slide-drag {
	width: 167px;
	height: 122px;
	margin-left: 124px;
	margin-top: 10px;
	background: rgba(255, 255, 0, 0.25);
	border: 1px dashed rgba(255, 255, 0, 0.5);
	border-radius: 2px;

}

.slide {
	width: 167px;
	height: 122px;
	margin-left: 124px;
	margin-top: 30px;
}


.slide img {
	width: 167px;
	height: 122px;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	opacity: 1;
	-moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}


.slide img:hover {
  cursor: pointer;
  opacity: .60;
}

.selected {
  border: 2px solid yellow !important;
}

.slide img:focus {
  border: 2px solid yellow !important;
}

.dropzone-container {
	position: relative;
	width: 95%;
	padding-bottom: 62%;
	float: left;
	height: 0;
}

.dropzone {
	width: 100%;
	height: 100%;
	position: absolute;
	left: -50px;
	border: 1px dashed gray;
	top: 80px;
	text-align: center;
	font-size: 28px;
	line-height: 550px;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
}

.dropzone img {
	border:1px solid #e2e2e2;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2); 
}

.dropzone2 {
	border-radius: 2px;
	border: 1px dashed gray;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
	width: 167px;
	height: 122px;
	margin-left: 124px;
	color: white;
	opacity: 1;
	text-align: center;
  -moz-transition: background .5s, opacity .5s, -moz-transform .5s;
	-webkit-transition: background .5s, opacity .5s, -webkit-transform .5s;
	-o-transition: background .5s, opacity .5s, -o-transform .5s;
	transition: background .5s, opacity .5s, transform .5s;
}

.dropzone2 i {
	font-size: 40px;
	display: block;
	color: white;
	margin-left: 1px;
	margin-top: 30px;
}

.dropzone2 p {
	color: white;
	opacity: 50%;
	font-size: 12px;
	font-family: 'Lato', Arial, sans-serif;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
}

.dropzone2:hover {
	background: rgb(143, 143, 143);;
	cursor: pointer;
}


/*Testing some Stuff*/
.slideshow {
	width: 640px;
	height: 360px;
	position: relative;
	background: gray;
	border-radius: 2px;
}

.slideshow img {
	height: 360px;
	width:100%;
}

.player {
margin-left: 226px;
margin-top: -33px;
	opacity: 0;
	-moz-transition:opacity .3s;
  -webkit-transition:opacity .3s;
  -o-transition:opacity .3s;
  transition:opacity .3s;
}

.player i {
	display:inline;
	padding:5px;
	padding: 25px;
	color:white;
}

.player:hover {
	opacity: 1;
}

.player i:hover {
	color:lightgray;
	cursor: pointer;
}

.divider {
	border-bottom: 1px solid lightgray;
}

.content {
	-webkit-box-shadow:  inset 0 11px 10px -13px black;
	-moz-box-shadow:  inset 0 11px 10px -13px black;
	box-shadow:  inset 0 11px 10px -13px black;
}

#example-slide {
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* FF3.6+ */
	background: -webkit-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* Opera 11.10+ */
	background: -ms-linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* IE10+ */
	background: linear-gradient(135deg, #E2E2E2 0%, #D3D3D3 50%, #C4C4C4 51%, #BDBDBD 135%);; /* W3C */
	box-shadow: 0 1px 5px rgba(104, 104, 104, 1);
	width: 173px;
	height: 104px;
	margin: 17px auto;
}


@import "foundation_and_overrides";
@import "foundation";
